body, html{
	height: 100%;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1em;
	margin: 0;
}

.image1{
	background: url('../img/gym.jpeg');
	min-height: 100%;
}
.image2{
	background: url('../img/cosmos.jpg');
	min-height: 400px;
}
.image3{
	background: url('../img/interior.jpeg') rgba(255,0,0,1);
	min-height: 400px;
}

.parallax{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.parallax h1{
	position: absolute;
	top:50%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.desc{
	/*background-color: #000;*/
	padding: 70px 50px;
}